body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    flex: 1 !important;
}
/* navbar-styling */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: black !important;
}

/* footer-styling */
.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin: 0.3rem;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    height: 6.5rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    background-color: #ebebeb;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials a i{
    font-size: 1.2rem;
    margin-right:1rem ;
    color: #222222;
}

/* cards */

.card{
    border: none !important;
    margin-bottom: 2rem !important;
    /* margin: 0.9rem !important; */
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 16rem; 
}
.card-body{
    padding: 0 !important;
}
.card-linking{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;
}
/* New card */

.add-btn,.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img{
    width: 35rem !important;
    height: 40vh !important;
}
.btns{
    display: flex;
}